{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
        {% sw_include '@Storefront/storefront/layout/header/wl-conversion-header.html.twig' %}

        {{ parent() }}
{% endblock %}

{% block base_footer %}
        {{ parent() }}

        {% block layout_footer_bottom %}
        <div class="footer-bottom">
            {% block layout_footer_service_menu %}
                <div class="container">
                        {% block layout_footer_service_menu_content %}
                        <ul class="footer-service-menu-list list-unstyled">
                            {% for serviceMenuItem in page.header.serviceMenu %}
                                {% block layout_footer_service_menu_item %}
                                    <li class="footer-service-menu-item">
                                        <a class="footer-service-menu-link"
                                           href="{% if serviceMenuItem.externalLink %}{{ serviceMenuItem.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: serviceMenuItem.id }) }}{% endif %}"
                                           title="{{ serviceMenuItem.translated.name }}">
                                            {{ serviceMenuItem.translated.name }}
                                        </a>
                                    </li>
                                {% endblock %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                    {% block layout_footer_vat %}
                <div class="footer-vat">
                    {% if context.taxState == "gross" %}
                        <p>
                            {{ "footer.includeVat"|trans({
                                '%url%': path('frontend.cms.page',{ id: shopware.config.core.basicInformation.shippingPaymentInfoPage })
                            })|raw }}
                        </p>
                    {% else %}
                        <p>
                            {{ "footer.excludeVat"|trans({
                                '%url%': path('frontend.cms.page',{ id: shopware.config.core.basicInformation.shippingPaymentInfoPage })
                            })|raw }}
                        </p>
                    {% endif %}
                </div>
            {% endblock %}
            {% block layout_footer_copyright %}
                <div class="footer-copyright">
                    {% sw_icon 'shopware' style {'size':'xs'} %}
                    {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                </div>
            {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}           
{% endblock %}
